server/node_modules
# Keep environment variables out of version control
server/.env
server/dist

readerServer/node_modules
# Keep environment variables out of version control
readerServer/.env
readerServer/dist


shared/node_modules
# Keep environment variables out of version control
shared/.env
shared/dist